In [3]:
# Question 1
import myModule 
myModule.b()
myModule.b()
myModule.b()
print(myModule.a)

6

In [1]:
# Question 2
def fileLength(fileName):
    try:
        content = open(fileName).read()
        length = len(content)
        print("Length of {name} is {length}".format(name = fileName, length = length))
    except FileNotFoundError:
        print("File {} not found".format(fileName))
fileLength("idterm.py")

File idterm.py not found

In [2]:
# Question 3
class Marsupial:
    def __init__(self):
        self.pouch = []
    def put_in_pouch(self,data):
        self.pouch.append(data)
    def pouch_contents(self):
        print(self.pouch)
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [3]:
# Question 3
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.cX = x
        self.cY = y    
    def jump(self, x, y):
        self.cX += x
        self.cY += y      
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.cX},{self.cY})" 
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [4]:
# Question 4
def collatz(x):
    if x == 1:
        print(x)
    elif x % 2 == 0:
        print(x)
        collatz(x//2)
    else:
        print(x)
        collatz((x * 3) + 1)
collatz(10)

10
5
16
8
4
2
1

In [ ]:
# Question 5
def binary():
    try:
        inputVal = int(input('Enter non-negative number: '))
        if inputVal >= 0:
            print(f'{inputVal:0b}')
            binary()
        else:
            print("It is a negative number, please enter non-negative number")
            binary()
    except:
        print("Error found")
binary()

Enter non-negative number: -8
It is a negative number, please enter non-negative number
Enter non-negative number: 10
1010

In [1]:
# Question 6
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    h1Found = False
    h2Found = False
    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.h1Found = True
        elif tag == "h2":
            self.h2Found = True
    def handle_data(self, data):
        if self.h1Found:
            print(data)
        if self.h2Found:
            print('\t'*1 + data)
    def handle_endtag(self, tag):
        if tag =="h1":
            self.h1Found = False
        elif tag == "h2":
            self.h2Found = False
hp = HeadingParser()
file = open('w3c.html')
html = file.read()
file.close()
hp.feed(html)

W3C Mission
	Principles

In [2]:
# Question 8
import sqlite3

In [3]:
# Question 8
con=sqlite3.connect('GlobalData.db')
cur=con.cursor()

In [4]:
# Question 8
cur.execute('Create Table World(City text,Country text,Season text,Temprature FLOAT,Rainfall FLOAT );');

In [5]:
# Question 8
cur.execute('Insert Into World(City,Country,Season,Temprature,Rainfall) Valuse("Mumbai","India","Winter",24.8,5.9);')
cur.execute('Insert Into World(City,Country,Season,Temprature,Rainfall) Values("Mumbai","India","Spring",28.4,16.2);')
cur.execute('Insert Into World(City,Country,Season,Temprature,Rainfall) Values("Mumbai","India","Summer",27.9,1549.4);')
cur.execute('Insert Into World(City,Country,Season,Temprature,Rainfall) Values("Mumbai","India","Fall",27.6,346.0);')
cur.execute('Insert Into World(City,Country,Season,Temprature,Rainfall) Values("London","United Kingdom","Winter",4.2,207.7);')
cur.execute('Insert Into World(City,Country,Season,Temprature,Rainfall) Values("London","United Kingdom","Spring",8.3,169.6);')
cur.execute('Insert Into World(City,Country,Season,Temprature,Rainfall) Values("London","United Kingdom","Summer",15.7,157.0);')
cur.execute('Insert Into World(City,Country,Season,Temprature,Rainfall) Values("London","United Kingdom","Fall",10.4,218.5);')
cur.execute('Insert Into World(City,Country,Season,Temprature,Rainfall) Values("Cairo","Egypt","Winter",13.6,16.5);')
cur.execute('Insert Into World(City,Country,Season,Temprature,Rainfall) Values("Cairo","Egypt","Spring",20.7,6.5);')
cur.execute('Insert Into World(City,Country,Season,Temprature,Rainfall) Values("Cairo","Egypt","Summer",27.7,0.1);')
cur.execute('Insert Into World(City,Country,Season,Temprature,Rainfall) Values("Cairo","Egypt","Fall",22.2,4.5);')

In [6]:
# Question 8a
for row in cur.execute('Select Temprature from World;'):
    print(row)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [7]:
# Question 8b
for row in cur.execute('Select Distinct City from World;'):
    print(row)

('Mumbai',)
('London',)
('Cairo',)

In [8]:
# Question 8c
for row in cur.execute('Select * from World where Country = "India";'):
    print(row)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [9]:
# Question 8d
for row in cur.execute('Select * from World where Season = "Fall";'):
    print(row)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [10]:
# Question 8e
for row in cur.execute('Select City,Country,Season from World where Rainfall Between 200 AND 400;'):
    print(row)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

In [11]:
# Question 8f
for row in cur.execute('Select City,Country from World where Season = "Fall" AND Temprature > 20 Order By Temprature;'):
    print(row)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [12]:
# Question 8g
for row in cur.execute('Select SUM(Rainfall) from World where City = "Cairo";'):
    print(row)

(27.6,)

In [13]:
# Question 8h
for row in cur.execute('Select Season, SUM(Rainfall) from World Group By Season;'):
    print(row)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

In [17]:
# Question 9
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [18]:
# Question 9a 
list1 = [w.upper() for w in words]
print(list1)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [19]:
# Question 9b
list2 = [w.lower() for w in words]
print(list2)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [20]:
# Question 9c
list3 = [len(w) for w in words]
print(list3)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [21]:
# Question 9d 
list4 = [[w.upper(),w.lower(),len(w) ] for w in words]
print(list4)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [22]:
# Question 9e
list5 = [w for w in words if len(w) >= 4]
print(list5)

['quick', 'brown', 'jumps', 'over', 'lazy']